.hidden {
  visibility: hidden;
}

.branding {
  position: fixed;
  width: 80px;
  height: 80px;
  left: 25px;
  bottom: 25px;
}

.reveal div.align-left {
  text-align: left;
  padding-left: 15%;
}

.reveal code {
  white-space: pre;
  text-align: left;
  display: inline;
}

.reveal code.block {
  display: inline-block;
}

.reveal code.small,
.reveal code.left,
.reveal code.right {
  font-size: 20px;
  overflow: visible;
}

.reveal code.very-small {
  font-size: 16px;
}

.reveal code.left {
  width: 55%;
  float: left;
}

.reveal code.right {
  width: 45%;
  float: right;
}

.reveal section table.side-by-side {
  width: 140%;
  position: relative;
  left: -15%;
}

.reveal section table.side-by-side td {
  vertical-align: top;
  width: 50%;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  text-transform: none;
}

.reveal section img#yield_ahead,
.reveal pre {
  box-shadow: none;
  border: none;
  outline: none;
}

.reveal pre.contact {
  font-size: 32px;
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

section.full_height,
section.external_iframe {
  height: 100%;
}

.links {
  text-align: left;
  padding-left: 150px !important;
}

.external_iframe iframe {
  width: 100%;
  height: 90%;
  margin: 50px 0 0 0;
}

.reveal section table {
  width: 100%;
}

.reveal section table.top td {
  vertical-align: text-top;
}

img.interstitial {
  zoom: 1 !important;
}

.reveal section .thanks {
  color: white;
  position: absolute;
  left: 0;
  top: 300px;
}

.reveal section .thanks img {
  z-index: -1;
}

.reveal section.tweet {
  text-align: center;
}

.reveal section.tweet iframe {
  margin: 10px auto !important;
}

.reveal section.two-up .left {
  float: left;
  padding-left: 0;
}

.reveal section.two-up .right {
  position: absolute;
  left: 55%;
}

.reveal section.two-up .iterObj-left {
  position: relative;
  float: left;
  left: 100px;
}

.reveal section.two-up .iterObj-right {
  position: relative;
  float: left;
  left: 150px;
}

.reveal section h2 {
  line-height: 1.2em !important;
}

.reveal section.fixed-height {
  height: 100%;
}